{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block main %}
	<section class="container">
		<div class="row">
			<div class="col">
				<h2>Reset your password</h2>
				<div class="reset-pw">
					{{ form_start(resetForm) }}
					{{ form_row(resetForm.plainPassword.first) }}
					{{ form_row(resetForm.plainPassword.second) }}
					<details class="password-rules">
						<summary>Password rules</summary>
						<ul>
							<li class="rule-length">Be at least 8 characters long</li>
							<li class="rule-uppercase">Contain at least one uppercase letter</li>
							<li class="rule-lowercase">Contain at least one lowercase letter</li>
							<li class="rule-digit">Contain at least one digit</li>
							<li class="rule-special-char">Contain at least one special character</li>
						</ul>
					</details>
				</div>
				<div class="button-reset-pw">
					<button class="btn btn-primary">Reset password</button>
					{{ form_end(resetForm) }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
