{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block main %}
	<section class="container">
		<div class="row">
			<div class="col">
				<h2>Reset your password</h2>
				<div class="reset-pw">
					{{ form_start(resetForm) }}
					{{ form_row(resetForm.plainPassword.first) }}
					{{ form_row(resetForm.plainPassword.second) }}
				</div>
				<div class="button-reset-pw">
					<button class="btn btn-primary">Reset password</button>
					{{ form_end(resetForm) }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
