
{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block main %}
    {% block section %}
        <h1 style="color: white">Reset your password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
    {% endblock %}
{% endblock %}
