<footer>
    {# <a href="#">Contact us</a>
    <p>Rue des bonbons 23, Bruxelles, Belgique</p>
    <p>0422558877</p>
    <p>exemple@lol.com</p>

    <a href="#">Our Services</a> #}

    <p>Copyright © 2023 - All rights reserved || Designed By: Liothasu</p>
</footer>