<form action="{{ path('search_bar') }}" method="get" class="i-flex" role="search">
	{{ form_start(searchForm) }}
	{{ form_widget(searchForm.q) }}
	<button class="btn btn-success" type="submit">
		<i class="fas fa-search"></i>
	</button>
	{{ form_end(searchForm) }}
</form>
