{% extends 'base.html.twig' %}

{% block title %}Project summary
{% endblock %}

{% block main %}
	<section class="container">
		<div class="row">
			<div class="col">
				<h2>Project summary</h2>

				<p>Project name:
					{{ project.nameProject }}</p>
				<p>Title:
					{{ project.title }}</p>
				<p>Description:
					{{ project.description }}</p>

				<form method="post" action="{{ path('project_delete', {'id': project.id}) }}" onsubmit="return confirm('Are you sure you want to cancel this project?');">
					<button type="submit" class="btn btn-danger">Delete project</button>
				</form>
			</div>
		</div>
	</section>
{% endblock %}
