{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block main %}
    {% block section %}
    <h2>La liste des catégories</h2>
    <ul>
        {% for category in cat  %}
        <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
    {% endblock %}
{% endblock %}
