<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Accueil{% endblock %}
		</title>
		<link rel="icon" href="/images/favicon.svg" type="image/svg+xml">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        {% block stylesheets %} 
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
        {% block javascripts %}
            <script src="https://kit.fontawesome.com/021d66ba26.js" crossorigin="anonymous"></script>
        {% endblock %}
	</head>
    <body>
        <header>
            {% include '_partials/_nav.html.twig' %}
        </header>
        <main>
		    {# {% include '_partials/_flash.html.twig' %} #}

			{% block main %}{% endblock %}
        </main>
		    {% include '_partials/_footer.html.twig' %}
    </body>
</html>
