{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block main %}
    {% block section %}
    <div class="alert alert-success" role="alert">
        Your registration has been successfully created !
    </div>
        <h2>Please verify your email in your box mail.</h2>
    {% endblock %}
{% endblock %}
